{% extends "base.html" %}

{% block content %}

    <form action="/login" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error_message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" name="username" placeholder="username"> <br>
        <input type="password" name="password", placeholder="password"> <br>
        <input type="submit" value="Login"> <br>

    </form>
    <!--<a href="{{ url_for('register') }}" style="position: center">Register</a>-->
{% endblock %}
