{% extends "base.html" %}

{% block content %}

    <form action="/register" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error_message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" name="username" placeholder="username"> <br>
        <input type="text" name="full_name" placeholder="full name"> <br>
        <input type="password" name="password" placeholder="password"> <br> <br>
        <label style="background-color: inherit" for="teacher_radio">Teacher</label>
        <input type="radio" id="teacher_radio" name="role" value="teacher"> <br><br>
        <label style="background-color: inherit" for="student_radio">Student </label>
        <input type="radio" id="student_radio" name="role" value="student"> <br> <br>
        <input type="submit" value="Register">
    </form>
    <!--<a href="{{ url_for('login') }}" style="position: center">Register</a>-->
{% endblock %}
