{% extends "base.html" %}

{% block topbar %}
    <a class="topbar_option" style="float: right" href="{{ url_for('logout') }}">Logout</a>
    <a class="topbar_option" style="float: right" href="{{ url_for('view_cache') }}">Results</a>
    <a class="topbar_option" style="float: right" href="{{ url_for('join_class') }}">Join</a>
    <a class="topbar_option" style="float: right" href="{{ url_for('create_model') }}">Create</a>
{% endblock %}

{%  block content %}

    <br>
    <H2>Models:</H2>

    {% if models %}
        {% for model in models %}
                <div class="model_card" id="model{{ model.id }}">
                        <div class="model_info"><p style="background-color: inherit; display: inline-block">{{ model.id }} - {{ model.model_name }}</p></div>
                        <input class="delete_model" type="button" value="Delete" style="display: inline; float: right" onclick="delete_model({{ model.id }}, {{ user.id }})">
                        {% if model.is_trained %}
                            <input class="use_model_button" type="button" style="display: inline; float: right" onclick="window.location.href='{{ url_for('use_model') }}?model_id={{ model.id }}'" value="Use">
                        {% elif not model.is_labelled %}
                            <input class="train_model_button" type="button" style="display: inline; float: right" onclick="window.location.href='{{ url_for('train_model') }}?model_id={{ model.id }}'" value="Train">
                        {% endif %}
                </div>
        {% endfor %}
        <input class="create_model_button" type="button" onclick="window.location.href='{{ url_for('create_model') }}'" value="Create">
    {% endif %}

    <H2>Classes:</H2>
    {% with classes = user.list_classes() %}
        {% if classes %}
            {% for class in classes %}
                <div class="class_card" id="class{{ class[0] }}">
                    <div class="class_info"><p style="background-color: inherit; display: inline-block">{{ class[1] }} - Teaher: {{ class[3]}}</p></div>
                    <input class="leave_class" type="button" value="Leave" style="display: inline; float: right" onclick="leave_class({{ class[0] }}, {{ user.id }})">
                </div>
            {% endfor %}
        {% endif %}

        <input class="join_class_button" type="button" onclick="window.location.href='{{ url_for('join_class') }}'" value="Join">

    {% endwith %}

{% endblock %}
