{% extends "base.html" %}

{% block topbar %}
    <a class="topbar_option" style="float: right" href="{{ url_for('logout') }}">Logout</a>
    <a class="topbar_option" style="float: right" href="{{ url_for('view_cache') }}">Results</a>
    <a class="topbar_option" style="float: right" href="{{ url_for('create_class') }}">+ Class</a>
    <a class="topbar_option" style="float: right" href="{{ url_for('create_model') }}">+ Model</a>
{% endblock %}

{%  block content %}
    <br>
    <H2>Models:</H2>

    {#
    {% with models = user.list_models() %}

        {% if models %}

            {% for model in models %}
                <div class="model_card" id="model{{ model[0] }}">
                        <div class="model_info"><p style="background-color: inherit; display: inline-block">{{ model[0] }} - {{ model[2]}}</p></div>
                        <input class="delete_model" type="button" value="Delete" style="display: inline; float: right" onclick="delete_model({{ model[0] }}, {{ user.id }})">
                </div>

            {% endfor %}

        {% endif %}

        <input class="create_model_button" type="button" onclick="window.location.href='{{ url_for('create_model') }}'" value="Create">

    {% endwith %}
    #}

    {% if models %}
        {% for model in models %}
                <div class="model_card" id="model{{ model.id }}">
                        <div class="model_info"><p style="background-color: inherit; display: inline-block">{{ model.id }} - {{ model.model_name }}</p></div>
                        <input class="delete_model" type="button" value="Delete" style="display: inline; float: right" onclick="delete_model({{ model.id }}, {{ user.id }})">
                        {% if model.is_trained %}
                            <input class="use_model_button" type="button" style="display: inline; float: right" onclick="window.location.href='{{ url_for('use_model') }}?model_id={{ model.id }}'" value="Use">
                        {% elif not model.is_labelled %}
                            <input class="train_model_button" type="button" style="display: inline; float: right" onclick="window.location.href='{{ url_for('train_model') }}?model_id={{ model.id }}'" value="Train">
                        {% endif %}
                </div>
        {% endfor %}
    {% endif %}
    <input class="create_model_button" type="button" onclick="window.location.href='{{ url_for('create_model') }}'" value="Create">

    <H2>Classes:</H2>

    {% if details %}
        {% for class in details %}
            <div class="teacher_class_card" id="class{{ class[0].id }}">

                <div class="class_options" style="display: inline-block; background-color: inherit"><p style="background-color: inherit; display: inline-block">{{ class[0].class_name }} - ({{ class[0].id }}, {{ class[0].pin }})</p></div>
                <input class="delete_class" type="button" value="Delete" style="display: inline; float: right" onclick="delete_class({{ class[0].id }}, {{ user.id }})">
                <input class="toggle_student_button" type="button" value="-" style="display: inline; float: right" onclick="toggle_students('student_card{{ class[0].id }}')">

                {% for student in class[1] %}
                    <div class="student_card student_card{{ class[0].id }}" id="{{ class[0].id }}student{{ student[0].id }}">
                        <div class="student_info" style="display: inline-block; background-color: inherit"><p style="background-color: inherit; display: inline-block">{{ student[0].full_name }}</p></div>
                        <input class="kick_student" type="button" value="Kick" style="display: inline; float: right" onclick="kick_student({{ student[0].id }}, {{ class[0].id }}, {{ user.id }})">
                        {% for model in student[1] %}
                            <div class="student_model_list" style="background-color: inherit;">
                                <div class="student_model_info" style="display: inline-block; background-color: inherit;"> <p style="display: inline-block; background-color: inherit">{{ model.model_name }}</p></div>
                                {% if model.is_trained %}
                                    <input class="use_model_button" type="button" style="display: inline; margin-left: auto; margin-right: 10px;" onclick="window.location.href='{{ url_for('use_model') }}?model_id={{ model.id }}'" value="Use">
                                    {#                                {% else %}
                                    <input class="train_model_button" type="button" style="display: inline; margin-left: auto; margin-right: 10px;" onclick="window.location.href='{{ url_for('train_model') }}?model_id={{ model.id }}'" value="Train"> #}
                                {% endif %}
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    {% endif %}

     <input class="create_class_button" type="button" onclick="window.location.href='{{ url_for('create_class') }}'" value="Create">

{% endblock %}

